# Visual Studio files
.vs/
*.suo
*.user
*.ncb
*.aps
*.bsc
*.sbr
*.pdb
*.ilk
*.obj
*.res
*.pch
*.ipch
*.log
*.tlog
*.exp
*.lib
*.dll
*.exe
*.manifest
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

# Build output directories


# Temporary files
*.~
*.tmp
*.bak

# Installer files
*.msi
*.msm
*.cab

# User-specific settings (if not meant for sharing)
LocalSettings.xml
